<br><br>
<div class='panel panel-primary'>  
  <div class='panel-heading'>  
    User List 
  </div>   
  <div class='panel-body'>  
    <div class='table-responsive'>  
      <table class='table' border="1">  
        <thead>  
          <tr>  
            <th>User name</th>  
            <th>Password</th>  
            <th>Is logged in</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let user of users;">  
            <td>{{user.username}}</td>  
            <td>{{user.password}}</td>  
            <td>{{user.loggedIn}}</td>  
          </tr>  
        </tbody>  
      </table>  
    </div>  
  </div>  
</div>
